
^contentpage {
    background-color: white;
}

grid {
    background-color: LightGray;
}

.radio {
    color: black;
}

.header {
    background-color: gray;
}

.body {
    background-color: LightGray;
}


